* {
    margin: 0;
    padding: 0;
    border: 0;

}
body {
    background-image: url("https://media1.tenor.com/m/6ZUs587t-_YAAAAC/blue-heart-black.gif");
    background-size: cover;
    background-image: repeat;
    z-index: 0;
}

.icon-love {
    width: 400px;
}
button{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #e2573f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 30px; /* ← CRÍTICO: dale tamaño */
    cursor: pointer;
    min-width: 150px;   /* ← Fuerza un ancho mínimo */
    min-height: 50px;   /* ← Fuerza una altura mínima */
}


html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*---------------------- body_left -------------------------*/
.body_left {
    width: 300px;
    height: 300px;
    left: 0;
    bottom: 110px;
    position: absolute;
    z-index: 98;

}

/*---------------------- body_left -------------------------*/

/*---------------------- body_center -------------------------*/
.container .love {
    width: 520px; /* 13 * 40 */
    height: 440px; /* 11 * 40 */
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -260px 0 0 -220px;
}

.love .block {
    right: 0;
    position: absolute;
    visibility: hidden;
    background-color: yellow;
    z-index: 50;
}

.love .block div {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../images/heart.png") no-repeat;
    background-size: contain;
    background-color: #c40908;
    border: none
    box-sizing: border-box;
}

.love .love-text {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    font-size: 60px;
    font-weight: bold;
    color: #d12a0d;
    opacity: 0;
    z-index: 10;
    text-shadow: 
        2px 2px 4px rgba(137, 21, 21, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.4),
        0px 4px 8px rgba(176, 38, 61, 0.6),
        2px 4px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}



/*---------------------- body_center -------------------------*/

/*---------------------- footer -------------------------*/
@keyframes border {
    0% {
        width: 0;
    }
    5% {
        width: 5%;
    }
    10% {
        width: 10%;
    }
    15% {
        width: 15%;
    }
    20% {
        width: 20%;
    }
    25% {
        width: 25%;
    }
    30% {
        width: 30%;
    }
    35% {
        width: 35%;
    }
    40% {
        width: 40%;
    }
    45% {
        width: 45%;
    }
    50% {
        width: 50%;
    }
    55% {
        width: 55%;
    }
    60% {
        width: 60%;
    }
    65% {
        width: 65%;
    }
    70% {
        width: 70%;
    }
    75% {
        width: 75%;
    }
    80% {
        width: 80%;
    }
    85% {
        width: 85%;
    }
    90% {
        width: 90%;
    }
    95% {
        width: 95%;
    }
    100% {
        width: 100%;
    }

}
.footer {
    bottom: 30px;
    position: relative;
    z-index: 99;
}
.footer .border .border-top {
    /*width: 0;*/
    /*display: inline-block;*/
    border-top: 3px solid black;
    transform-origin: left center;
    -webkit-animation: border 312 linear;
    -o-animation: border 12s linear;
    animation: border 12s linear;
    animation-fill-mode : both;
    /*border-bottom: none;*/
}

.footer .border .border-bottom {
    /*width: 0;*/
    /*display: inline-block;*/
    float: right;
    border-top: 3px solid red;
    transform-origin: right center;
    -webkit-animation: border 7s linear 12s;
    -o-animation: border 7s linear 12s;
    animation: border 7s linear 12s;
    animation-fill-mode : both;
    /*border-bottom: none;*/
}

.footer .copyright {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    text-align: center;
    /*background-color: gray;*/

}

.copyright div {
    width: 30%;
    line-height: 30px;
    display: inline-block;
}

.copyright div span {
    color: dimgray;
}

/*---------------------- footer -------------------------*/
